<h1>Stupid Coaching</h1>

<div class="question-container">
<!-- display my question -->
  <p><%= @question %></p>
  <p id="you"> -You</p>
</div>

<!-- display the answer -->
<div class="answer-container">
  <p><%= @answer %></p>
  <p id="coach"> -Coach</p>
</div>

<%= link_to "Ask your coach a new question", ask_path %>
